body {
  font-family: Epilogue;
  background: black;
  color: white;
}

img {
  width: 100%;
  display: block;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: black;
  border-width: 3px;
}

#app {
  max-width: 1000px;
  margin: auto;
}

p {
  text-align: end;
  padding-right: 11px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.section-title {
  text-transform: uppercase;
  color: #edd948;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

@media (min-width: 500px) {
  .grid {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media (min-width: 800px) {
  .grid {
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-group-meta h3,
.grid-group-meta h4 {
  margin: 0;
}
.grid-group-meta h4 {
  font-style: italic;
}

.grid-group-text p {
  line-height: 1.5;
  text-align: end;
}

.btn {
  padding-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  @include transition(box-shadow 0.25s ease);
  &:after {
    content: "";
    display: inline-block;
    color: #94a657;
    background: #fff;
    font-family: "FontAwesome";
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    padding-left: 4.5px;
    padding-right: 1.5px;
  }
  &.playing {
    &:after {
      padding: 3px;
      content: "";
    }
  }
}
